@import 'tailwindcss/preflight' layer(utilities);
@import 'tailwindcss/utilities' layer(utilities);
@import 'tailwindcss' layer(utilities);

@theme {
  /* colors */
  --color-gray-850: #222226;

  /* animations */
  --animate-spin-slow: spin 5s linear infinite;

  /* font */
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

.react-pdf__Page__canvas {
    @reference "tailwindcss";
    @apply mx-auto border border-gray-300/40 shadow;
}

.markdown-body ul {
    @apply list-disc;
}

.markdown-body ol {
    @apply list-decimal;
}

pre[class*='language-'],
code[class*='language-'] {
    @reference "tailwindcss";
    @apply font-mono;
}
